<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
    {% include 'navbar.html' %}
    <h1>Login</h1>
    
    {% include 'alerts.html' %}
    <form class="form-inline my-2 my-lg-0" method="POST" action="/login">
        <input class="form-control mr-sm-2" name="userlogin" type="search" placeholder="Username" aria-label="Username">
        <input class="form-control mr-sm-2" type="password" name="pass" placeholder="Password" aria-label="Password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
    </div>
</body>
</html>